header(octo-curtain)
  h1.octo-curtain-title octo-curtain
  .icon-layer.horizontal
    .icon
      i.fa.fa-star.md(data-duration="5", data-delay="1")
    .icon
      i.fa.fa-star.lg(data-duration="8", data-delay="3")
    .icon
      i.fa.fa-star.sm(data-duration="3", data-delay="1")
    .icon
      i.fa.fa-star.md(data-duration="9", data-delay="2")
    .icon
      i.fa.fa-star.sm(data-duration="7", data-delay="3")
    .icon
      i.fa.fa-star.lg(data-duration="3", data-delay="1")
    .icon
      i.fa.fa-star.sm(data-duration="7", data-delay="3")
    .icon
      i.fa.fa-star.lg(data-duration="4", data-delay="2")
