doctype
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	title octo-sidebar
	meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0")
	meta(name="description", content="octo-sidebar; a project for pure CSS sidebar navigation")
	link(rel="stylesheet", href="css/style.css")
	link(rel="stylesheet", href="css/octo-nav.css")
body(octo-nav)
	nav(octo-nav-navigation, octo-nav-panel)
		div(octo-nav-scrollable)
			ul
				li
					a(octo-nav-link, href="#about") About
				li
					a(octo-nav-link, href="#projects") Projects
				li
					a(octo-nav-link, href="#thoughts") Thoughts
				li
					a(octo-nav-link, href="#contact") Contact
				li(octo-nav-header) Header
				li
					a(octo-nav-link, href="http://github.com/jh3y") Github 
	.page-content(octo-nav-page-content, octo-nav-panel)
		a.nav-link(octo-nav-control) J
		div(octo-nav-scrollable)
			include header
			block content
			include footer
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
	script(src="js/octo-nav.min.js")
